services:
  - type: web
    name: silvess-backend
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9

      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET
        generateValue: true
      - key: DATABASE_PATH
        value: /opt/render/project/src/silvess.db
      - key: FRONTEND_URL
        value: https://seu-usuario.github.io/silvess

databases:
  - name: silvess-db
    databaseName: silvess
    user: silvess
    plan: free
